:host {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.file {
  width: 100%;
  height: 100%;
}

.err-txt {
  text-align: center;
  margin: 4rem;
}

.err-img {
  margin: auto;
}

.file-image {
  padding: 1rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text {
  padding: 1rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 4px;
  width: 56px;
  background-color: #212121;
  border-radius: 4px;
  position: relative;
  left: 0rem;
  top: -99vh;

  button {
    height: 48px;
  }

  .disabled {
    opacity: 0.2;
  }
}

.dots {
  height: 6px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.dot {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: white;
}

.dot.active {
  background: var(--primary);
}
