<ng-container
  [ngTemplateOutlet]="listTemplate"
  [ngTemplateOutletContext]="{
    $implicit: { items: items(), indent: 0 },
  }"></ng-container>

<ng-template #listTemplate let-data>
  @for (item of data.items; track $index) {
    @if (item.display !== false) {
      <ng-container
        [ngTemplateOutlet]="itemTemplate"
        [ngTemplateOutletContext]="{
          $implicit: { item, indent: data.indent },
        }"></ng-container>
    }
  }
</ng-template>

<ng-template #itemTemplate let-data>
  <div class="row">
    <div [ngStyle]="{ 'min-width': data.indent * 2 + 'rem' }">&nbsp;</div>
    <button
      (click)="expandClicked(data.item)"
      class="btn-expand"
      [class.selected]="data.item === selected()">
      @if (data.item.children) {
        {{ data.item.expanded ? '▼' : '►' }}
      }
    </button>
    <button
      (click)="itemClicked(data.item)"
      class="entry"
      [class.selected]="data.item === selected()">
      {{ data.item.label }}
    </button>
  </div>
  @if (data.item.expanded) {
    <ng-container
      [ngTemplateOutlet]="listTemplate"
      [ngTemplateOutletContext]="{
        $implicit: { items: data.item.children, indent: data.indent + 1 },
      }"></ng-container>
  }
</ng-template>
