<ng-container
  [ngTemplateOutlet]="listTemplate"
  [ngTemplateOutletContext]="{
    $implicit: { items: items(), indent: 0 },
  }"></ng-container>

<ng-template #listTemplate let-data>
  @for (item of data.items; track $index) {
    @if (item.display !== false) {
      <ng-container
        [ngTemplateOutlet]="itemTemplate"
        [ngTemplateOutletContext]="{
          $implicit: { item, indent: data.indent },
        }"></ng-container>
    }
  }
</ng-template>

<ng-template #itemTemplate let-data>
  <button
    (click)="itemClicked(data.item)"
    class="entry"
    [ngStyle]="{ 'margin-left': data.indent * 2 + 'rem' }"
    [class.selected]="data.item === selected()">
    @if (data.item.children) {
      {{ data.item.expanded ? '▼' : '►' }}
    }
    {{ data.item.label }}
  </button>
  @if (data.item.expanded) {
    <ng-container
      [ngTemplateOutlet]="listTemplate"
      [ngTemplateOutletContext]="{
        $implicit: { items: data.item.children, indent: data.indent + 1 },
      }"></ng-container>
  }
</ng-template>
