.entry {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0 8px;
  display: block;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.3);
  }
}

.selected {
  background-color: var(--tertiary);
}
