body {
  background-color: #e2e2e2;
  font-family: sans-serif;
}

#searchrow {
  border: 1px solid #cecece;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  gap: 4px;
  overflow: hidden;
}

#search-button {
  border: none;
  background: transparent;
}

#search-icon {
  height: 48px;
  width: 48px;
}

#search-input {
  border: none;
  outline: unset;
  width: 100%;
  font-size: 1.6rem;
  background-color: transparent;
}

#results {
  margin: 16px 0;
  display: grid;
}
.file {
  border: none;
  background-color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.8rem;
  border-radius: 4px;
  margin: 2px 0;
  padding: 16px;
  cursor: pointer;
  list-style: inside;
}

ul {
  list-style: none;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #cecece;
  overflow: hidden;
}

.header {
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid #000000d3;
  width: 60%;
  margin-top: 8px;
}

input[type="file"] {
  display: none;
}

.wrapper {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #72ff40;
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.custom-file-upload {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 48px;
  background-position: 50% 50%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>image-plus-outline</title><path d="M13 19C13 19.7 13.13 20.37 13.35 21H5C3.9 21 3 20.11 3 19V5C3 3.9 3.9 3 5 3H19C20.11 3 21 3.9 21 5V13.35C20.37 13.13 19.7 13 19 13V5H5V19H13M13.96 12.29L11.21 15.83L9.25 13.47L6.5 17H13.35C13.75 15.88 14.47 14.91 15.4 14.21L13.96 12.29M20 18V15H18V18H15V20H18V23H20V20H23V18H20Z" /></svg>');
  display: inline-block;
  cursor: pointer;
}

#toast {
  display: none;
  position: fixed;
  background-color: #3f3f3f;
  color: white;
  bottom: 32px;
  padding: 4px 16px;
  line-height: 16px;
  border-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
}
